/* OpenFlow Colors */

:root {
  --color-text: #0f0f0f;
  --color-background: #fbfbfb;
  --color-background-ui: #6d5ef6;
  --color-logo-primary: #6d5ef6;
  --color-logo-secondary: #22d3ee;
  --color-logo-stroke: #2a2455;
  --color-text-stroke: #f6f6f6;
  --color-mid-gray: #808080;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-text: #fbfbfb;
    --color-background: #2c2b29;
    --color-logo-primary: #8b7dfa;
    --color-logo-secondary: #22d3ee;
    --color-logo-stroke: #d8d3fd;
  }
}
